body {
    background-color: ;
    font-family: ;
    color: ;
    font-size: ;
    line-height: ;
}
/* -pagelayout- */
#wrapper {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    background-color: #222930;
    padding-right: 10px;
    padding-left: 10px;
    
      display: grid;
  grid-gap: 20px;
  grid-template-areas:
   "banner"
   "menu"
   "nav"
   "table"
   "main"
   "aside"
   "footer";
}

@media (min-width: 50em) {
  #wrapper {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
      "banner  banner"
      "menu  menu"
      "nav  main"
      "aside  main"
      "footer  footer";
  }
}

 @media (min-width: 60em) {
  #wrapper {
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-areas: 
      "banner  banner  banner"
      "nav  menu  aside"
      "nav  table  aside"
      "nav  main  aside"
      "footer  footer  footer";
   }
}

.banner {grid-area: banner;}

.menu {grid-area: menu;}

nav {grid-area: nav;}

table {grid-area: table;}

main {grid-area: main;}

aside	{grid-area: aside;}

footer {grid-area: footer;}

/* -menu-page- */
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #253746;
}
.menu li {
    float: left;
}
.menu li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menu li a:hover {
    background-color: #111;
}
.menu li a:active {
    background-color: #ED1C24;
}

/* -headings- */
h1 {
    font-family: Verdana, Geneva, sans-serif;
    background-color: ;
    color: ;
    font-size: ;
    line-height: ;
}
h2 {
    font-family: Verdana, Geneva, sans-serif;
    background-color: ;
    color: ;
    font-size: ;
    line-height: ;
}
h3 {
    font-family: Verdana, Geneva, sans-serif;
    background-color: ;
    color: ;
    font-size: ;
    line-height: ;
}
/* -lists- */
ul	{
}
li	{
}
ol	{
}
/* -text- */
em	{
}
strong	{
}
/* -images- */
figure	{
}
figcaption	{
}
img	{
}
/* -anchors- */
a:link	{
    color: #0090D2;
}
a:visited {
    color: #0090D2;
}   
a:hover {
    color: #0063A6;
    text-decoration: none;
}
a:active {
    background-color: #333;
}