body {
    background-color: #FFFFFF ;
    color: #fff ;
    font-size: 16px;
    line-height: 20px;
}
/* -pagelayout- */
#wrapper {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    background-color: #4d4d4d;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 70px;
    
      display: grid;
  grid-gap: 20px;
  grid-template-areas:
   "banner"
   "menu"
   "nav"
   "table"
   "main"
   "aside"
   "footer";
}

@media (min-width: 50em) {
  #wrapper {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
      "banner  banner"
      "menu  menu"
      "nav  main"
      "aside  main"
      "footer  footer";
  }
}

 @media (min-width: 60em) {
  #wrapper {
    grid-template-columns: 2fr 5fr 2fr;
    grid-template-areas: 
      "banner  banner  banner"
      "nav  menu  aside"
      "nav  table  aside"
      "nav  main  aside"
      "footer  footer  footer";
   }
}

.banner {grid-area: banner;}

.pagemenu {grid-area: menu;}

nav {grid-area: nav;}

table {grid-area: table;}

main {grid-area: main;}

article {
}

aside	{grid-area: aside;}

footer {grid-area: footer;}

header{
    line-height: 5px;
}

/* -menu-page- */
.pagemenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
}
.pagemenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(black, grey);
}
.pagemenu li {
    float: left;
}
.pagemenu li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.pagemenu li a:hover {
    background-color: #000;
}
.pagemenu li a:active {
    background-color: #000;
    color: #000;
}

/* -headings- */
h1 {
    font-family: Verdana, Geneva, sans-serif;
    background-color: #4d4d4d;
    color: #fff;
    font-size: 30px;
    line-height: 30px;
}
h2 {
    font-family: Verdana, Geneva, sans-serif;
    background-color: #4d4d4d;
    color: #cc0000;
    font-size: 20px;
    line-height: 20px;
}
h3 {
    font-family: Verdana, Geneva, sans-serif;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
}
h4 {
    font-family: Verdana, Geneva, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
}
h5 {
    color: #000000;
    font-size: 55px;
    line-height: 55px;
    background-color: transparent;
    padding: auto;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-top: 2px;
}
/* -grouping- */
p   {
}
blockquote  {
}
/* -lists- */
ul	{
}
li	{
    padding-top: 10px;
    padding-bottom: 10px;
}
ol	{
}
/* -text- */
em	{
}
strong	{
}
/* -images- */
figure	{
}
figcaption	{
}
img	{
}
}
/* -anchors- */
a:link	{
    color: #0090D2;
}
a:visited {
    color: #0090D2;
}   
a:hover {
    color: #0063A6;
    text-decoration: none;
}
a:active {
    background-color: #333;
}
/* -imageHeaderTextOverlay- */
.headerImage {
    position: relative;
    display: inline-block;
    padding-left: 0px;
}
.headerImage .headerText {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 2%;
    right: 0;
    top: 65%;   /*adjust y axis*/
    text-align: left;
    width: 99%;     /*adjusts width*/
}
/* paddingLeftRemove */
