label {display: block;}
input {display: block;}

body {
    background-color: #FFFFFF ;
    color: #fff ;
    font-size: 16px;
    line-height: 20px;
}
/* -pagelayout- */
#wrapper {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    background-color: #4d4d4d;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 70px;
    
      display: grid;
  grid-gap: 20px;
  grid-template-areas:
   "banner"
   "menu"
   "nav"
   "table"
   "main"
   "aside"
   "footer";
}

@media (min-width: 50em) {
  #wrapper {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
      "banner  banner"
      "menu  menu"
      "nav  main"
      "aside  main"
      "footer  footer";
  }
}

 @media (min-width: 60em) {
  #wrapper {
    grid-template-columns: 2fr 5fr 2fr;
    grid-template-areas: 
      "banner  banner  banner"
      "nav  menu  aside"
      "nav  table  aside"
      "nav  main  aside"
      "footer  footer  footer";
   }
}

.banner {grid-area: banner;}

.pagemenu {grid-area: menu;}

nav {grid-area: nav;}

table {grid-area: table;}

main {grid-area: main;}

article {
}

aside	{grid-area: aside;}

footer {grid-area: footer;}

header{
    line-height: 5px;
}

/* -transparency- */

/*Video Background*/

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

#content {
  position: fixed;
  bottom:0;
  left:0;
  background: rgba(128,128,128, 0.5);
  color: #f1f1f1;
    width: 100%;
  height: 100%;
}

/* -menu-page- */
.pagemenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
}
.pagemenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.pagemenu li {
    float: left;
}
.pagemenu li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.pagemenu li a:hover {
  color: #0d0d0d;
  border: #0d0d0d solid 1px;
  background:#fff;
  transition: all 0.5s;
   border-radius: 5px;
}
}
.pagemenu li a:active {
    background-color: #000;
    color: #000;
}

/* -headings- */
h1 {
    font-family: Verdana, Geneva, sans-serif;
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    z-index: 1;
}
h2 {
    font-family: Verdana, Geneva, sans-serif;
    background-color: #4d4d4d;
    color: #cc0000;
    font-size: 20px;
    line-height: 20px;
}
h3 {
    font-family: Verdana, Geneva, sans-serif;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
}
h4 {
    font-family: Verdana, Geneva, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
}
h5 {
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    font-size: 55px;
    line-height: 55px;
    background-color: transparent;
    padding: auto;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-top: 2px;
}
/* -grouping- */
p   {
}
blockquote  {
}
/* -lists- */
ul	{
}
li	{
    padding-top: 10px;
    padding-bottom: 10px;
}
ol	{
}
/* -text- */
em	{
}
strong	{
    z-index: 1;
}
/* -images- */
figure	{
}
figcaption	{
}
img	{
}
}
/* -anchors- */
a:link	{
    color: #0090D2;
}
a:visited {
    color: #0090D2;
}   
a:hover {
    color: #0063A6;
    text-decoration: none;
}
a:active {
    background-color: #333;
}


/* paddingLeftRemove */

/* testing */

.container{
    text-align: center;
    position: absolute;
    top: 50%;
    left : 50%;
    transform: translate (-50%, -50%);
    width: 100%;
}
.container span{
    text-transform: uppercase;
    display: block;
}
.text1{
    color: white;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    background: black;
    position: relative
    animation: text 3s 1;
}
.text2{
    font-size: 30px;
    color: #6ab04c;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
}

@keyframe text{
    0%{
        color: black;
        margin-bottom:40px;
    }
    30%{
        letter-spacing:25px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }